.centered {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: black;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

body {
    font-family: monospace;
    background: rgb(223, 236, 233);
}

.border-box {
    background: white;
    border-radius: 7px;
    margin: 20px;
}

.flex {
    display: flex;
}

.line-height {
    line-height: 2.5;
}

.flex-space-between {}

.btn {
    cursor: pointer;
    height: 40px;
    background: rgb(255, 136, 0);
    border-radius: 5px;
    border: none;
    color: white;
    font-family: monospace;
    font-size: 14px;
}

.btn3 {
    cursor: pointer;
    height: 40px;
    background: rgb(216, 91, 18);
    border-radius: 5px;
    border: none;
    color: white;
    font-family: monospace;
    font-size: 12px;
}

button:hover {
    background-color: rgb(252, 61, 36);
    cursor: pointer;
}

#text1 {
    margin: 20px;
}

#transferContainer {
    margin-top: 80px;
}

#canvasContainer {
    touch-action: none;
}

.inputCanv {
    border: 3px solid white;
}

.inputCanv:hover {
    cursor: url('./images/cursor.png'), default;
}

.outputCanv {
    border: 3px solid white;
}

#btnContainer {
    margin: auto;
}